<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/vApp.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
  <div ng-app="Project">
    <div ng-controller="Accueil">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"> <!-- Menu gauche -->
            <div class="menu_gauche"> 
              <h2 class="menu_text"> MENU </h2>

              <div class="row">
                <div class="col-lg-3">
                  <a href="CreateProject.html"><i class="far fa-plus-square fa-2x"></i></a>
                </div>
                <div class="col-lg-9">
                  <a href="CreateProject.html"> <big>Create project</big></a>
                </div>
              </div>
              <p></p>
              <div class="row">
                <div class="col-lg-3">
                  <a href="DisplayAllProject.html"><i class="fas fa-search fa-2x"></i></a>
                </div>
                <div class="col-lg-9">
                  <a href="DisplayAllProject.html"><big>On going project</big></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-9">
               <h1>WELCOME TO YOUR PERSONAL SPACE</h1>
             </div>
             <div class="col-lg-3">
              <div class="header_icons">
                <a class="header_a" href="UserPage.html?{{User}}">{{User}}
                  <i class="fas fa-user-circle fa-2x"></i>
                </a>
                <a classe="header_a" href="Accueil.html"> 
                  <i class="fas fa-home fa-2x"></i>
                </a>            
                <a class="header_a" href="/login.html" ng-click="logout()">
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <img style="width: 800px; height: 448px;" alt="H2020" src="./images/vf-OS.jpg">
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <div class="menu_gauche">
            <img src="./images/APR-TARDY.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./controller/Project.js"></script>
<script src="./controller/accueil.controller.js"></script>
</body>
</html>