<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/vApp.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
     <div class="row">
      <div class="col-lg-2">
        <div style="width: 180px; height: 140px;">
          <img style="width: 180px; height: 70px;" alt="TARDY logo" src="./images/tardy-logo.jpg">
          <img style="width: 180px; height: 70px;" alt="APR logo" src="./images/APR-QD.jpg">
        </div>
      </div>
      <div class="col-lg-8" style="text-align: center">
        <h1><big><big>Account creation</big></big></h1>
        <img alt="H2020_head" src="./images/bandeau.jpg">
      </div>
    </div>
  </div>
  <p><big><big></big></big></p>
    <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align: center">
      </div>
    </div>
  </body>
  </html>