<!DOCTYPE html>
<html>
 <head>
    <meta charset="utf-8"> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/vApp.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
  <div ng-app="Project">
    <div ng-controller="DisplayProjectUser">
      <p><big><big></big></big></p>
      <header>
        PROJECT INFORMATION
      </header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2"> <!-- Menu gauche -->
            <div class="menu_gauche"> 
              <h2 class="menu_text"> MENU </h2>
              <div class="row">
                <div class="col-md-3">                
                  <a href="DisplayAllProject.html"><i class="far fa-caret-square-left fa-3x"></i>
                  </a></div>
                  <div class="col-md-9">
                    <a href="DisplayAllProject.html"><big class="menu_text">Back</big></a>
                  </div>
                </div>
                <p></p>
                <div class="row">
                  <div class="col-md-3">
                    <div ng-click="saveChangement()"><a href="DisplayAllProject.html"> <i class="far fa-save fa-3x"></i>
                    </a></div>
                  </div>
                  <div class="col-md-9">
                    <a ng-click="saveChangement()" href="DisplayAllProject.html"><big class="menu_text">Save</big> </a>
                  </div>
                </div>
                <p></p>
              </div>
            </div>  
            <div class="col-lg-10">
              <div class="row"> <!-- Header personnalisé -->
                <div class="col-md-9">
                  <h1>PROJECT INFORMATION</h1>
                </div>
                <div class="col-md-3">
                  <div class="header_icons">
                    <a class="header_a" href="UserPage.html?{{User}}">{{User}}
                      <i class="fas fa-user-circle fa-2x"></i>
                    </a>
                    <a classe="header_a" href="Accueil.html"> 
                      <i class="fas fa-home fa-2x"></i>
                    </a>            
                    <a class="header_a" href="/login.html" ng-click="logout()">
                      <i class="fas fa-sign-out-alt fa-2x"></i>
                    </a>
                  </div>
                </div>
              </div>
              <form method="get">
                <div class="row">
                  <div class="col-lg-6"> <!-- Partie gauche -->
                    <h2>Project Information</h2>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="Project reference">Project reference: </label>
                      </div>
                      <div class="col-md-6">
                        <input id="project_reference" type="text" ng-model="project_reference">
                      </div>
                    </div>
                    <div>
                      <label for="Description">Description: </label>
                      <textarea id="Description" ng-model="description"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label for="Status">Status: </label> 
                      </div>
                      <div class="col-md-6">
                        {{status}}
                      </div>
                    </div>
                    <div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="Internal Reference">Internal Reference: </label> 
                        </div>
                        <div class="col-md-6">
                          {{internal_reference}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <label for="Expected_Delivery">Expected Delivery</label>
                        </div>
                        <div class="col-md-6">
                          <input id="Expected_Delivery" type="text" ng-model="delivery">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6"> <!-- Partie droite -->
                    <h2>Customer Information</h2>
                    <div class="row"> 
                      <div class="col-md-6">
                        <label>Company: </label> 
                      </div>
                      <div class="col-md-6">
                        {{company}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6"> 
                       <label>Contact</label> 
                     </div>
                     <div class="col-md-6">
                       {{contact}}
                     </div>
                   </div> 

                   <div class="row">
                    <div class="col-md-6">
                      <label>E-mail</label> 
                    </div>
                    <div class="col-md-6">
                      {{email}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label>Phone number</label> 
                    </div>
                    <div class="col-md-6">
                      {{phone_number}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h2>Quantity</h2>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="Quantity" style="font-weight: bold">Quantity:</label>
                    </div>
                    <div class="col-md-6">
                      <input id="Quantity" type="number" ng-model="quantity" onchange="angular.element(this).scope().lotSize()">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="Nbr Of Lot" style="font-weight: bold">Nbr Of Lot:</label>
                    </div>
                    <div class="col-md-6">
                      <input id="Nbr Of Lot" type="number" ng-model="nbr_of_lot" onchange="angular.element(this).scope().lotSize()">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="Lot Size" style="font-weight: bold">Lot Size: </label> 
                    </div>
                    <div class="col-md-6">
                      {{lot_size}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="Default Label" style="font-weight: bold">Comments:</label>
                    </div>
                    <div class="col-md-6">
                      <input id="Default Label" type="text" ng-model="default_label">
                    </div>
                  </div>
                  <button class="add_quantity" ng-click="AddQuantity()">Add</button>
                  <table>
                    <thead>
                      <th></th><th>Quantity</th><th>Lot Size</th><th>Nbr Of Lot</th><th>Comments</th>
                    </thead>
                    <tbody style="text-align: center;">
                      <tr ng-repeat="x in displayQuantity">
                        <td type="hidden">{{quantity_id}}</td>
                        <td>{{x.quantity}}</td>
                        <td>{{x.lot_size}}</td>
                        <td>{{x.number_of_lot}}</td>
                        <td>{{x.default_label}}</td>
                        <td><button ng-click="deleteQuantity(x.quantity_id)">Delete</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-6">
                  <h2>Documents</h2>
                  <p><input id="files" type="file" class="input_file" multiple/>
                    <button class="button" ng-click="displayFileName()">Add</button></p>
                    <table id="files_table">
                      <thead>
                        <th>File name</th><th>File type</th><th></th>
                      </thead>
                      <tr ng-repeat="file in files">                      
                        <td>{{file.name}}</td><td>{{file.type}}</td><td><i class="fas fa-times" ng-click="deleteFile(file.name)"></i></td>
                      </tr>
                    </table>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12" style="text-align: right;">
      Powered by <img alt="Vf-os" src="./images/vfos-logo-232x85.jpg" style="width: 100px; height: 36px;">
    </div>
</div>
</div>
</div>
<script src="./controller/Project.js"></script>
<script src="./controller/DisplayProjectUser.controller.js"></script>
</body>
</html>