<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/vApp.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
  <div ng-app="Project">
    <div ng-controller="NewFeatures">
      <div class="container-fluid">
        <div class="row">

          <div class="col-lg-2"> 
            <div class="menu_gauche">
              <h2 class="menu_text"> MENU </h2>
              <div class="row">
                <div class="col-lg-3">
                  <a id="returnButton" href=""><i class="far fa-caret-square-left fa-2x"></i></a>
                </div>
                <div class="col-lg-9">
                  <a id="returnButton" href="">Back</a>
                </div>
              </div>
              <p></p>

              <div class="row">
                <div class="col-lg-3">
                  <a id="saveButton" href="" ng-click="createNewFeature('save')"><i class="far fa-save fa-2x"></i></a>
                </div>
                <div class="col-lg-9">
                  <a id="saveButton" href="" ng-click="createNewFeature('save')">Save</a>
                </div>
              </div>

              <p></p>
              <div class="row">
                <div class="col-lg-3">
                  <div ng-click="createNewFeature('add')"><a id="addNewFeature" href=""><i class="far fa-plus-square fa-2x"></i></a></div>
                </div>
                <div class="col-lg-9">
                  <div ng-click="createNewFeature('add')"><a id="addNewFeature" href="">New feature</a></div>
                </div>
              </div>
            </div>  
          </div>

          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-9">
                <h1>ADD A NEW FEATURE</h1>
              </div>
              <div class="col-lg-3">
                <div class="header_icons">
                  <a class="header_a" href="UserPage.html?{{User}}">{{User}}
                    <i class="fas fa-user-circle fa-2x"></i>
                  </a>
                  <a classe="header_a" href="Accueil.html"> 
                    <i class="fas fa-home fa-2x"></i>
                  </a>            
                  <a class="header_a" href="/login.html" ng-click="logout()">
                    <i class="fas fa-sign-out-alt fa-2x"></i>
                  </a>
                </div>
              </div>
            </div>

            <form method="get">
              <div class="row">
                <div class="col-lg-4">
                  <div class="row">
                    <legend class="col-lg-12">Features</legend>
                    <input id="feature_id" type="hidden" ng-model="feature_id">
                    <div class="col-lg-12">
                      <label for="Part reference">Part reference: </label>
                      <input id="Part reference" type="text" class="form-control" ng-model="part_reference">
                    </div>
                    <div class="col-lg-12">
                      <label for="Label">Label: </label>
                      <input id="Label" type="text" class="form-control" ng-model="label">
                    </div>
                    <div class="col-lg-12">
                      <label for="Attribution">Attribution: </label>
                      <select ng-model="attribution">
                        <option value="APR">APR</option>
                        <option value="TARDY">TARDY</option>
                      </select>
                    </div>
                    <div class="col-lg-12">
                      <label for="metal">Metal</label>
                      <input id="metal" type="checkbox" class="form-control" ng-model="metal">
                    </div>
                    <div class="col-lg-12">
                      <label for="plastic">Plastic</label>
                      <input id="plastic" type="checkbox" class="form-control" ng-model="plastic">
                    </div>
                    <div class="col-lg-12">
                      <label for="Component">Component: </label>
                      <input id="Component" type="text" class="form-control" ng-model="component">
                    </div>
                    <div class="col-lg-12">
                      <label for="Compound">Compound: </label>
                      <input id="Compound" type="text" class="form-control" ng-model="compound">
                    </div>
                    <div class="col-lg-12">
                      <label for="Ratio">Ratio: </label>
                      <input id="Ratio" type="number" class="form-control" ng-model="ratio">
                    </div>
                    <div class="col-lg-12">
                      <label for="Material">Material: </label>
                      <input id="Material" type="text" class="form-control" ng-model="material">
                    </div>
                    <div class="col-lg-12">
                      <label for="Heat Treatment">Heat Treatment: </label>
                      <input id="Heat Treatment" type="text" class="form-control" ng-model="heat_treatment">
                    </div>
                    <div class="col-lg-12">
                      <label for="Surface Treatment">Surface Treatment: </label>
                      <input id="Surface Treatment" type="text" class="form-control" ng-model="surface_treatment">
                    </div>
                    <div class="col-lg-12">
                      <label for="Width">Width: </label>
                      <input id="Width" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="width">
                    </div>
                    <div class="col-lg-12">
                      <label for="Lenght">Lenght: </label>
                      <input id="Lenght" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="lenght">
                    </div>
                    <div class="col-lg-12">
                      <label for="Height">Height: </label>
                      <input id="Height" type="number" class="form-control" onchange="angular.element(this).scope().CalculateVolume()" ng-model="height">
                    </div>
                    <div class="col-lg-12">
                      <label for="Volume">Volume: {{volume}}</label>
                    </div>
                    <div class="col-lg-12">
                      <label for="Manufacturing">Manufacturing: </label>
                      <select ng-model="manufacturing">
                        <option value="Milling">Milling</option>
                        <option value="Turning">Turning</option>
                        <option value="Control">Control</option>
                        <option value="Multi">Multi</option>
                        <option value="Injection">Injection</option>
                        <option value="Assembly">Assembly</option>
                      </select>
                    </div>
                    <div class="col-lg-12">
                      <label for="Tolerances">Tolerances: </label>
                      <input id="Tolerances" type="number" class="form-control" ng-model="tolerance">
                    </div>
                    <div class="col-lg-12">
                      <label for="Rugosity">Rugosity: </label>
                      <input id="Rugosity" type="text" class="form-control" ng-model="rugosity">
                    </div>
                    <div class="col-lg-12">
                      <label for="Comments">Comments: </label>
                      <input id="Comments" type="text" class="form-control" ng-model="comments">
                      <p></p>
                    </div>
                  </div>
                </div>

                <div class="col-lg-8">
                  <div class="row">


                    <div class="col-lg-6">
                      <table>
                        <thead><tr><th>Uploaded Files</th><th></th></tr></thead>
                        <tbody>
                          <tr ng-repeat="x in file">
                            <td>{{x.document_name}}</td>
                            <td><input type="button" value="Select" ng-click="moveFile($index,1)"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>


                    <div class="col-lg-6">
                      <table>
                        <thead><tr><th>Selected Files</th><th></th></tr></thead>
                        <tbody>
                          <tr ng-repeat="x in selectedFile">
                            <td>{{x.document_name}}</td>
                            <td><input type="button" value="Unselect" ng-click="moveFile($index,2)"></td>
                            <td><input type="button" value="Display" ng-click="displayFile($index)"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-lg-12">
                      <iframe id="display3D" src="" style="width: 140%; height: 500px;">
                      </iframe>
                    </div>

                    <div class="col-lg-12">
                     <embed type="application/pdf"  id="pdfReader" src="https://disp-ds.univ-lyon2.fr/owncloud/s/BEWjZQPp1gGv9RX" style="width: 140%; height: 500px;">
                     </embed>
                   </div>
                 </div>
               </div>
             </div>
              </form>
             </div>
           </div>
         </div>
       </div>
       <script src="./controller/Project.js"></script>
       <script src="./controller/NewFeatures.controller.js"></script>
     </body>
     </html>